* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button, input, select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

html, body {
  height: 100%;
  min-width: 320px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.6rem, 6vw, 1.8rem);
  font-family: sans-serif;
  color: #2D2D2D;
}

.wrapper {
  height: 100%;
  width: 100%;
}

[class*=__container] {
  max-width: 1440px;
  padding-left: clamp(1rem, 6vw, 6rem);
  padding-right: clamp(1rem, 6vw, 6rem);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border-radius: 41px;
  border: 1px solid #000;
  padding: clamp(0.7rem, 2vw, 1rem) clamp(1rem, 4vw, 5rem);
  white-space: nowrap;
  font-weight: 700;
}
.btn:hover {
  background-color: #2D2D2D;
  color: #fff;
}

.header {
  padding-top: clamp(2rem, 6vw, 3rem);
  padding-bottom: clamp(6rem, 6vw, 12rem);
  /* .header__container */
  /* .header__title */
  /* .header__subtitle */
}
.header__title {
  font-size: clamp(2rem, 6vw, 6rem);
  font-weight: 700;
  margin-bottom: 1rem;
}
.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: clamp(4rem, 6vw, 6rem);
  /* .header-page__suggest */
  /* .header-page__view */
  /* .header-page__sort */
}
@media (max-width: 479.98px) {
  .header-page {
    display: block;
  }
}
@media (max-width: 479.98px) {
  .header-page__suggest {
    margin-bottom: 20px;
  }
}
.header-page__control {
  display: flex;
  gap: 20px;
}
.suggest-page {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* .suggest-page__title */
  /* .suggest-page__btn */
}
@media (max-width: 479.98px) {
  .suggest-page {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
.page {
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  margin-bottom: clamp(2rem, 3vw, 4rem);
  /* .page__body */
}
.body-page {
  display: grid;
  grid-template-columns: repeat(6, auto);
  margin-bottom: 40px;
  overflow-x: auto;
  /* .body-page__header */
}
@media (hover: hover) {
  .body-page::-webkit-scrollbar {
    height: 7px;
    background-color: #f9f9fd;
  }
  .body-page::-webkit-scrollbar-thumb {
    background-color: #BAB7B6;
  }
}
.body-page__title {
  background-color: #eeeeee;
  font-weight: 700;
}
.body-page__title--right-align {
  text-align: right;
  justify-content: flex-end;
}
.body-page__item {
  padding: 10px clamp(0.8rem, 3vw, 1.5rem);
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
}
.body-page__item--delete button {
  transition: all 0.2s ease 0s;
}
.body-page__item--delete button:hover {
  transform: scale(1.5);
}
.body-page--right-align {
  text-align: right;
  justify-content: end;
}
.body-page select:focus {
  outline: 0;
}
.body-page--view2 {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: space-around;
  gap: 20px;
}
.body-page__card {
  border: 1px solid #adadad;
}

.popup {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* .popup__form */
}
.popup.active {
  display: flex;
}
.popup::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(45, 45, 45, 0.5);
  left: 0;
  top: 0;
}
.popup__form {
  border-radius: 10px;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #2D2D2D;
  padding: clamp(1rem, 3vw, 2rem);
}
.popup__form fieldset {
  margin-bottom: clamp(2rem, 3vw, 3rem);
}
.popup__form legend {
  margin-bottom: clamp(1rem, 3vw, 3rem);
}
.popup__form label {
  font-size: 1.4rem;
}
.popup__form input {
  width: 31ch;
  padding: 1rem;
  border: 1px solid #2D2D2D;
  border-radius: 5px;
}
.popup__form input:not(last-child) {
  margin-top: 5px;
  margin-bottom: clamp(1rem, 2vw, 2rem);
}
.popup__form select {
  padding: 0.7rem 1rem;
  border: 1px solid #2D2D2D;
  border-radius: 5px;
  display: block;
  margin-top: 5px;
}